.about_main {
  max-width: 1320px;
  margin: auto;
  margin-top: 80px;
}

.about_image {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.box_img {
  background-image: url(/images/homepage/box.svg);
  background-size: cover;
  background-position: center;
  width: 650px;
  height: 650px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box_img button {
  padding: 20px 30px;
  background-color: #262626;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 500px;
}

.box_img button:hover {
  background-color: darkcyan;
}

/* ========== about description part css ========== */

.about_description h4 {
  max-width: 1320px;
  margin: auto;
  margin-top: 20px;
  font-size: 36px;
  opacity: 70%;
}

.about_description .about_description_title_main {
  display: flex;
  max-width: 1320px;
  margin: auto;
  justify-content: space-between;
}

.about_description .about_description_title {
  margin-top: 40px;
  width: 30%;
}

.description_title {
  font-size: 26px;
  margin-bottom: 16px;
}

.description_product {
  font-size: 20px;
  opacity: 0.7;
}
