/* ========== navbar css ========== */

.nav_main_div {
  max-width: 1320px;
  margin: auto;
  justify-content: space-between;
  display: flex;
  padding: 30px 0;
}

.nav_item {
  display: flex;
  flex-direction: row;
  gap: 100px;
  font-size: 20px;
}

/* ========== search section css ========== */

.search_seciton {
  background: #f5f5f3;
  padding: 1px 0;
}

.search_seciton_container {
  max-width: 1320px;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-between;
}

.search_box {
  display: flex;
  align-items: center;
  max-width: 40%;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.search_box input {
  flex: 1;
  padding: 10px 15px;
  border: none;
  outline: none;
  font-size: 16px;
}

.search_box button {
  padding: 10px 20px;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.search_box button:hover {
  background-color: transparent;
  font: bold;
}

.shop_by_category {
  width: 30%;
  display: flex;
}

.shop_by_category p {
  margin-left: 10px;
}

.cart {
  width: 30%;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: flex-end;
}

/* ========== hero section css ========== */
.hero_img {
  width: 100%;
  height: 600px;
  /* Background image */
  background-image: url("/images/homepage/banner.svg"); /* ← replace with your image */
  background-size: cover; /* Fill the entire section */
  background-position: center; /* Keep the focal point centered */
  background-repeat: no-repeat; /* Prevent tiling */
}

/* ========== hero section css ========== */

.sale_offer {
  max-width: 1320px;
  margin: auto;
  justify-content: center;
  margin-top: 100px;
  height: 780px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lights_bg {
  height: 580px;
  width: 580px;
  background-image: url("/images/homepage/lights.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.lights_bg h2 {
  position: absolute;
  margin-top: 60%;
  margin-left: 50px;
  font-size: 50px;
  text-transform: capitalize;
  font-weight: bold;
}

.lights_bg p {
  position: absolute;
  margin-top: 70%;
  margin-left: 50px;
  font-size: 20px;
}

.lights_bg p span {
  font-size: 30px;
  font-weight: bold;
}

.lights_bg button {
  margin-top: 80%;
  margin-left: 50px;
  background-color: #262626;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 30px;
  cursor: pointer;
}

.sale_offer_rightside {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.watch_bg {
  background-image: url(/images/homepage/watch.svg);
  height: 280px;
  width: 684px;
}

.lamp_bg {
  background-image: url(/images/homepage/lamp.svg);
  height: 280px;
  width: 684px;
}
